[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nirs4alldatasets"]
	path = nirs4alldatasets
	url = https://github.com/cran/nirs4alldatasets
